/* Background Colors */

/* 
#E3FDFD
#CBF1F5
#A6E3E9
#71C9CE 
*/

/* Screen */

* {
    box-sizing: border-box;
}

body {
    background: rgba(227, 253, 253, 0.5);
    font-family: "Dongle", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}

a,
a:visited,
a:hover {
    text-decoration: none;
    color: #000000;
}

ul {
    margin: 0;
    padding: 0;
}

/* Header */

/* header Image */

header img {
    min-width: 100%;
    height: 300px;
    object-fit: cover;
}

/* header Navigation */
nav>ul {
    width: 100%;
    background: #A6E3E9;
}

nav>ul>li {
    width: 100%;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 30px;
}

nav>ul>li:hover {
    background: #71C9CE;
}

/* Content */

/* content Header */

.content-header {
    padding: 0;
    margin-bottom: 35px;
}

.content-header img {
    max-width: 100%;
}

/* content middle */

.content-middle h1,
.content h1 {
    font-size: 35px;
    margin-bottom: 20px;
}

.content-middle li {
    cursor: pointer;
    padding: 5px;
    background: #E3FDFD;
}

/* content Main */

.content {
    margin-top: 35px;
}

.content-main h1 {
    font-size: 35px;
}

.content-middleBox li {
    cursor: pointer;
    padding: 10px;
    background: #E3FDFD;
}

.content-middleBox li:hover {
    background: #CBF1F5;
}

/* Aside */

/* aside Navigation */
aside {
    position: relative;
    height: 1282.5px;
    width: 150px;
    padding-top: 30px;
    padding-left: 30px;
    background: #E3FDFD;
    flex-wrap: wrap;
}
.PI li:last-of-type{
    margin-bottom: 50px;
}
aside h2 {
    font-size: 40px;
}

.side-nav {
    width: 100%;
}

.side-nav>h2,
.PI>h2,
.copyright>h2 {
    margin-bottom: 20px;
}

.side-nav>li,
.PI>li,
.copyright>li {
    margin-bottom: 15px;
    padding-left: 15px;
}

.side-nav>li {
    cursor: pointer;
}

.side-nav>li:hover {
    background: #CBF1F5;
}

/* Footer */

footer {
    padding-bottom: 500px;
    /* 임시 */
}

/* 반응형 */

@media screen {
    /* Aside 부분 viewpoint width 값이 줄어들면 사라짐*/

}